  <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Alamat Kantor</h5> <br>
              <p class="grey-text text-lighten-4">Kelompok Informasi Masyarakat <br>Jl. Panglima Sudirman No.507, Pesanggrahan, Kecamatan Batu, <br>Jawa Timur - 65313</p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Kontak</h5> <br>
              <p><i class="fas fa-phone"></i> (0341) 3061892 <br><i class="far fa-envelope"></i>  kimwarkop4@gmail.com</p>
            </div>

            <div class="col l3 s12">
              <h5 class="white-text">Social Media</h5> <br>
              <ul>
                <div class="col s12 m2">
                  <li><a class="white-text" href="https://www.instagram.com/kim_tulungrejo/"><i class="fab fa-instagram small"></i></a></li></div>
                  <div class="col s12 m2">
                    <li><a class="white-text" href="/whatsapp"><i class="fab fa-whatsapp small"></i></a></li></div>
                    <div class="col s12 m2">
                      <li><a class="white-text" href="https://www.facebook.com/kimtulungrejo.kwb.1"><i class="fab fa-facebook-square small"></i></a></li></div>
                      <div class="col s12 m2">
                        <li><a class="white-text" href="https://twitter.com/KimAnjasmoro"><i class="fab fa-twitter small"></i></a></li></div>
                        <div class="col s12 m2">
                          <li><a class="white-text" href="https://plus.google.com/+KIMDesaTulungrejoKotaBatu"><i class="fab fa-google-plus-g small"></i></a></li></div> <br>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="footer-copyright">
                    <div class="container"><i class="material-icons tiny">copyright</i> 2019. Allright Reserved. Design by <a href="/coba">TIM PKL.</a>
                      <a class="grey-text text-lighten-4 right" href="/admin">Admin</a>

                    </div>
                  </div>