<!--  <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>NO</td>
              <td>DESA</td>
              <td>TAHUN</td>
              <td>BULAN</td>
              <td>JUMLAH ARTIKEL</td>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
              <td><%= (i + 1) %></td>
              <td><%= data[i].desa %></td>
              <td><%= data[i].tahun %></td>
              <td><%= data[i].bulan %></td>
              <td><%= data[i].postingan %></td>
              <td>
                <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            <% } %>
            <% } %>
          </tbody>
        </table> -->





              <div id="test1" class="col s12"><p> <!--ini kolom untuk kecamatan 1 -->

                <div class="col s12 m3">
                  <div class="card small">
                    <div class="card-image">
                     <img src="/images/portfolio/1.png">
                   </div>
                   <div class="card-content">
                     <p>Desa Oro-oro Ombo</p>
                   </div>
                   <div class="card-action">
                    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
                  </div>
                </div> 
              </div>

              <div class="col s12 m3">
                <div class="card small">
                  <div class="card-image">
                   <img src="/images/portfolio/2.png">
                 </div>
                 <div class="card-content">
                   <p>Desa Pesanggrahan</p>
                 </div>
                 <div class="card-action">
                  <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
                </div>
              </div> 
            </div>

            <div class="col s12 m3">
              <div class="card small">
                <div class="card-image">
                 <img src="/images/portfolio/3.png">
               </div>
               <div class="card-content">
                 <p>Desa Sidomulyo</p>
               </div>
               <div class="card-action">
                <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
              </div>
            </div> 
          </div>

          <div class="col s12 m3">
            <div class="card small">
              <div class="card-image">
               <img src="/images/portfolio/4.png">
             </div>
             <div class="card-content">
               <p>Desa Sumberejo</p>
             </div>
             <div class="card-action">
              <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
            </div>
          </div> 
        </div>

        <div class="col s12 m3">
          <div class="card small">
            <div class="card-image">
             <img src="/images/portfolio/5.png">
           </div>
           <div class="card-content">
             <p>Kelurahan Ngaglik</p>
           </div>
           <div class="card-action">
            <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
          </div>
        </div> 
      </div>

      <div class="col s12 m3">
        <div class="card small">
          <div class="card-image">
           <img src="/images/portfolio/1.png">
         </div>
         <div class="card-content">
           <p>Kelurahan Sisir</p>
         </div>
         <div class="card-action">
          <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
        </div>
      </div> 
    </div>

    <div class="col s12 m3">
      <div class="card small">
        <div class="card-image">
         <img src="/images/portfolio/2.png">
       </div>
       <div class="card-content">
         <p>Kelurahan Songgokerto</p>
       </div>
       <div class="card-action">
        <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
      </div>
    </div> 
  </div>

  <div class="col s12 m3">
    <div class="card small">
      <div class="card-image">
       <img src="/images/portfolio/3.png">
     </div>
     <div class="card-content">
       <p>Kelurahan Temas</p>
     </div>
     <div class="card-action">
      <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
    </div>
  </div> 
</div>  
</p></div>


<div id="test2" class="col s12"><p> <!--Ini kolom kecamatan 2 -->

  <div class="col s12 m3">
    <div class="card small">
      <div class="card-image">
       <img src="/images/portfolio/5.png">
     </div>
     <div class="card-content">
       <p>Desa Bulukerto</p>
     </div>
     <div class="card-action">
      <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
    </div>
  </div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/4.png">
   </div>
   <div class="card-content">
     <p>Desa Bumiaji</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/3.png">
   </div>
   <div class="card-content">
     <p>Desa Giripurno</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/2.png">
   </div>
   <div class="card-content">
     <p>Desa Gunungsari</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/1.png">
   </div>
   <div class="card-content">
     <p>Desa Pandanrejo</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/5.png">
   </div>
   <div class="card-content">
     <p>Desa Punten</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/4.png">
   </div>
   <div class="card-content">
     <p>Desa Sumbergondo</p>
   </div>
   <div class="card-action">
    <a href="#">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/3.png">
   </div>
   <div class="card-content">
     <p>Desa Tulungrejo</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div> 

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/1.png">
   </div>
   <div class="card-content">
     <p>Desa Sumber Brantas</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div> 
</p></div>

<div id="test3" class="col s12"><p> <!-- ini untuk kolom kecamatan 3 -->
  <div class="col s12 m3">
    <div class="card small">
      <div class="card-image">
       <img src="/images/portfolio/3.png">
     </div>
     <div class="card-content">
       <p>Desa Beji</p>
     </div>
     <div class="card-action">
      <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
    </div>
  </div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/2.png">
   </div>
   <div class="card-content">
     <p>Desa Junrejo</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/1.png">
   </div>
   <div class="card-content">
     <p>Desa Mojorejo</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/4.png">
   </div>
   <div class="card-content">
     <p>Desa Pendem</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/5.png">
   </div>
   <div class="card-content">
     <p>Desa Tlekung</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/3.png">
   </div>
   <div class="card-content">
     <p>Desa Torongrejo</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>

<div class="col s12 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/portfolio/2.png">
   </div>
   <div class="card-content">
     <p>Kelurahan Dadaprejo</p>
   </div>
   <div class="card-action">
    <a href="/kunjungidesa">KUNJUNGI<i class="material-icons right">arrow_forward</i></a>
  </div>
</div> 
</div>
