<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
  <title>Login Admin KIM</title>
</head>
<body>
<section id="login" class="login white">
  <form action="/loginAdmin" method="POST">
  <div class="container">
    <div class="row">
      <div class="col m3 s12">
        <div class="grey lighten-3">
        </div>
      </div>
      <div class="col m6 s12">
        <div class="card-panel">
          <h3 class="center">Login Admin KIM</h3>
          <h6 style="color: red"><%= message %></h6>

      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="username" id="username" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light orange accent-4 btn-large" type="submit" name="action">SIGN IN
        <i class="material-icons right"></i>
      </button>

        </div>
        <div>
        <a href="/">kembali ke home</a>
      </div>
      </div>
      
    </div>
  </div> 
  </form>

</section>


<script type="text/javascript" src="js/materialize.min.js"></script>
      <script>

        M.AutoInit();

        const materialbox= document.querySelectorAll('.materialboxed');
        M.Materialbox.init(materialbox);

        const scroll = document.querySelectorAll('.scrollspy');
        M.ScrollSpy.init(scroll, {
          scrollOffset: 50
        });

       
      </script>
</body>
</html>