.slider h1,
.slider h4, 
.clients h3{
	text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}


.clients img {
	max-width: 200px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
}

section {
	padding: 20px 0;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #3f51b5;
  color: white;
}

.previous {
  background-color: #4CAF50;
  color: black;
  float: left!important;
}

.next {
  background-color: #4CAF50;
  color: white;
  float: right!important;
}

.round {
  border-radius: 50%;
}